<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>Projects</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
            <a class="active" href="/projects">Projects</a>
        </div>
    </div>
    <h1>Here's Some Garbage I've Been Working On</h1>
    <div style="display: flex; flex-direction: column">
        <div style="display: flex; flex-direction: row">
            <img style="height: 100px" src="~/img/One.png" />
            <p>BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</p>
        </div>
        <div style="display: flex; flex-direction: row">
            <img style="height: 100px" src="~/img/Two.png" />
            <p>BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</p>

        </div>
        <div style="display: flex; flex-direction: row">
            <img style="height: 100px" src="~/img/Three.png" />
            <p>BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH</p>
        </div>
    </div>
</body>
</html>
